<?xml version="1.0"?>

<robot name="color" xmlns:xacro="http://ros.org/wiki/xacro">

	<gazebo reference="base_link">
		<visual>
				<material>
					<ambient>${54/255} ${69/255} ${79/255} 1</ambient>
					<diffuse>${54/255} ${69/255} ${79/255} 1</diffuse>
					<specular>${54/255} ${69/255} ${79/255} 1</specular>
				</material>
		</visual>
	</gazebo>
	
	<gazebo reference="suspension1">
		<visual>
				<material>
					<ambient>${255/255} ${187/255} ${0/255} 1</ambient>
					<diffuse>${255/255} ${187/255} ${0/255} 1</diffuse>
					<specular>${255/255} ${187/255} ${0/255} 1</specular>
				</material>
		</visual>
	</gazebo>
	<gazebo reference="suspension2">
		<visual>
				<material>
					<ambient>${255/255} ${187/255} ${0/255} 1</ambient>
					<diffuse>${255/255} ${187/255} ${0/255} 1</diffuse>
					<specular>${255/255} ${187/255} ${0/255} 1</specular>
				</material>
		</visual>
	</gazebo>
	<gazebo reference="suspension3">
		<visual>
				<material>
					<ambient>${255/255} ${187/255} ${0/255} 1</ambient>
					<diffuse>${255/255} ${187/255} ${0/255} 1</diffuse>
					<specular>${255/255} ${187/255} ${0/255} 1</specular>
				</material>
		</visual>
	</gazebo>
	<gazebo reference="suspension4">
		<visual>
				<material>
					<ambient>${255/255} ${187/255} ${0/255} 1</ambient>
					<diffuse>${255/255} ${187/255} ${0/255} 1</diffuse>
					<specular>${255/255} ${187/255} ${0/255} 1</specular>
				</material>
		</visual>
	</gazebo>
	
	<gazebo reference="wheel1">
		<visual>
				<material>
					<ambient>${5/255} ${0/255} ${153/255} 0.5</ambient>
					<diffuse>${5/255} ${0/255} ${153/255} 0.5</diffuse>
					<specular>${5/255} ${0/255} ${153/255} 0.5</specular>
				</material>
		</visual>
		<mu1>20.0</mu1>
		<mu2>40.0</mu2>
		<kp>500000.0</kp>
		<kd>10.0</kd>
		<minDepth>0.001</minDepth>
		<maxVel>0.1</maxVel>
		<fdir1>1 0 0</fdir1>
	</gazebo>
	<gazebo reference="wheel2">
		<visual>
				<material>
					<ambient>${5/255} ${0/255} ${153/255} 0.5</ambient>
					<diffuse>${5/255} ${0/255} ${153/255} 0.5</diffuse>
					<specular>${5/255} ${0/255} ${153/255} 0.5</specular>
				</material>
		</visual>
		<mu1>20.0</mu1>
		<mu2>40.0</mu2>
		<kp>500000.0</kp>
		<kd>10.0</kd>
		<minDepth>0.001</minDepth>
		<maxVel>0.1</maxVel>
		<fdir1>1 0 0</fdir1>
	</gazebo>
	<gazebo reference="wheel3">
		<visual>
				<material>
					<ambient>${5/255} ${0/255} ${153/255} 0.5</ambient>
					<diffuse>${5/255} ${0/255} ${153/255} 0.5</diffuse>
					<specular>${5/255} ${0/255} ${153/255} 0.5</specular>
				</material>
		</visual>
		<mu1>20.0</mu1>
		<mu2>40.0</mu2>
		<kp>500000.0</kp>
		<kd>10.0</kd>
		<minDepth>0.001</minDepth>
		<maxVel>0.1</maxVel>
		<fdir1>1 0 0</fdir1>
	</gazebo>
	<gazebo reference="wheel4">
		<visual>
				<material>
					<ambient>${5/255} ${0/255} ${153/255} 0.5</ambient>
					<diffuse>${5/255} ${0/255} ${153/255} 0.5</diffuse>
					<specular>${5/255} ${0/255} ${153/255} 0.5</specular>
				</material>
		</visual>
		<mu1>20.0</mu1>
		<mu2>40.0</mu2>
		<kp>500000.0</kp>
		<kd>10.0</kd>
		<minDepth>0.001</minDepth>
		<maxVel>0.1</maxVel>
		<fdir1>1 0 0</fdir1>
	</gazebo>
	
	<gazebo reference="2ndfloor">
		<visual>
				<material>
					<ambient>${255/255} ${255/255} ${255/255} 0.2</ambient>
					<diffuse>${255/255} ${255/255} ${255/255} 0.2</diffuse>
					<specular>${255/255} ${255/255} ${255/255} 0.2</specular>
				</material>
		</visual>
	</gazebo>
	
</robot>