<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find mk_2)/config/mk2_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/run_2" args="joint_state_controller 
					FLsuspension_position_controller
					FRsuspension_position_controller
					BLsuspension_position_controller
					BRsuspension_position_controller
					FLwheel_velocity_controller
					FRwheel_velocity_controller
					BLwheel_velocity_controller
					BRwheel_velocity_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/run_2/joint_states" />
  </node>

</launch>